name: check

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # -------------------------
      # Node / React
      # -------------------------
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: npm

      - name: Install frontend deps
        run: npm ci

      - name: Build frontend
        run: npm run build

      # -------------------------
      # Rust
      # -------------------------
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: './src-tauri -> target'

      # -------------------------
      # Linux Tauri deps
      # -------------------------
      - name: Install system deps
        run: |
          sudo apt update
          sudo apt install libwebkit2gtk-4.1-dev \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev

      - name: Build Tauri
        run: cargo build --manifest-path src-tauri/Cargo.toml --release
